<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <h3>
        <%= title %>
    </h3>
    <h3>
        <%= besked %>
    </h3>
    <h4> <%= besked2 %></h4>
    <p>
        <%= user.firstName %>
    </p>
    <ul>
        <li>
            <%= user.userName %>
        </li>
        <li>
            <%= user.password %>
        </li>
    </ul>

    <a href="/friendfinderweb">Login</a>
</body>

</html>